.cartSelectBtn {
  margin: 2rem auto;
  width: 80%;
}

.checkbox,
.label,
.delete {
  margin: 0 1rem;
  color: #8c8c8c;
  font-weight: 600;
}

.delete {
  cursor: pointer;
  border: 1px solid #8c8c8c;
  background: #fff;
  padding: 0.3rem 1rem;
}
