.cartSelectBtn {
  margin: 2rem auto;
}

.checkbox,
.label,
.delete {
  margin: 0 1rem;
  color: #8c8c8c;
  font-weight: 600;
}

.delete {
  border: 1px solid #8c8c8c;
  background: #fff;
  padding: .3rem 1rem;
}
