.pageNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev,
.next {
  font-size: 3rem;
  opacity: 0.5;
}

.prev:hover,
.next:hover {
  opacity: 1;
}

.hidden {
  font-size: 3rem;
  opacity: 0;
}
